<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="bigContainer">
      <div class="header">
        <h1>Instructions:</h1>
        <p>Click on the "New Entry" button to add a new book to your log. If you'd like to see more information or change entry information, click the name of the book. If you'd like to delete an entry, simple click on the delete button next to the title. This book log app is designed to be simplistic and efficient, navigation of it should reflect that. </p>

        <form class="asdf" action="/books/new" method="GET"><br/>
          <input id="new" type="submit" name="" value="New Entry">
        </form>
      </div>
      <div class="container">
        <div class="one">
          <h3>Book:</h3>
          <% for (var i = 0; i < book.length; i++) {%>
              <p class = "onclick">
                <a href="/books/<%=book[i].id%>" class = "onclick"><%=book[i].name%></a>
              </p>
          <%}%>
        </div>
        <div class="two">
          <h3>Rating:</h3>
          <% for (var i = 0; i < book.length; i++) {%>
            <p><%=book[i].rating%></p>
          <%}%>
        </div>
        <div class="three">
          <h3>Stats:</h3>
          <p>Books Read: <%=book.length%></p>
        </div>
        <div class="four">
          <h3>Modify:</h3>
          <% for (var i = 0; i < book.length; i++) {%>
            <p>
            <form class="" action="/books/<%=book[i].id%>?_method=DELETE" method="POST">
              <input class ="delete" type="submit" name="" value="DELETE">
            </form>
            </p>
          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
