<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- <script src="src/app.js" charset="utf-8"></script> -->
    <script type="text/javascript">
    console.log("test");
    let num1 = 0;
    </script>
    <title>Index</title>
  </head>

  <body>
    <div class="bigContainer">

      <div class="header">
        <div class="users">
          <h6>Username: <%=username%></h6>
          <a href="/sessions/new" id="changeuser">Switch Account</a>
        </div>
        <h1>Instructions:</h1>
        <p>Click on the "New Entry" button to add a new book to your log. If you'd like to see more information or change entry information, click the name of the book. If you'd like to delete an entry, click on the delete button next to the title.</p>


      </div>
      <div class="container">

        <div class="one">
          <h3>Book:</h3>
          <% for (var i = 0; i < book.length; i++) {%>
              <p class = "onclick">
                <a href="/books/<%=book[i].id%>" class = "onclick"><%=book[i].name%></a>
              </p>
          <%}%>
          <form class="asdf" action="/books/new" method="GET"><br/>
            <input id="new" type="submit" name="" value="ADD BOOK">
          </form>
        </div>


        <div class="two">
          <h3>Rating:</h3>
          <% for (var i = 0; i < book.length; i++) {%>
            <p><%=book[i].rating%></p>
          <%}%>
        </div>


        <div class="three">
          <h3>Stats:</h3>
          <p>Books Read: <%=book.length%></p>
          <% let num1 = 0; %>
          <% let num2 = 0; %>
          <% let num3 = 0; %>
          <% for (var i = 0; i < book.length; i++) {%>
            <%num1 += book[i].page%>
            <%num2 = num1%60%>
          <%}%>
          <p></p>
          <p>Total Pages: <%=num1%></p>
        </div>
        <div class="four">
          <h3>Modify:</h3>
          <% for (var i = 0; i < book.length; i++) {%>
            <p>
            <form class="" action="/books/<%=book[i].id%>?_method=DELETE" method="POST">
              <input class ="delete" type="submit" name="" value="DELETE">
            </form>
            </p>
          <%}%>
        </div>
      </div>
    </div>
  </body>
</html>
