<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="one">
        <h1>Book</h1>
        <% for (var i = 0; i < book.length; i++) {%>
            <p class = "onclick">
              <a href="/books/<%=book[i].id%>" class = "onclick"><%=book[i].name%></a>

            </p>

        <%}%>

      </div>
      <div class="two">
        <h1>Rating:</h1>
        <% for (var i = 0; i < book.length; i++) {%>
          <p><%=book[i].rating%></p>
        <%}%>
      </div>
      <div class="three">
        <h1>Stats:</h1>
        <p>Books Read: <%=book.length%></p>
      </div>
      <div class="four">
        <h1>Modify:</h1>
        <% for (var i = 0; i < book.length; i++) {%>
          <p>
          <form class="" action="/books/<%=book[i].id%>?_method=DELETE" method="POST">
            <input class ="delete"type="submit" name="" value="DELETE">
          </form>
          </p>
        <%}%>
      </div>
    </div>
  </body>
</html>
